.container {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 250px minmax(0,1fr) minmax(0,1fr);
}

main {
    border: 1px solid #333;
    grid-column: 1 / 3;
    align-self: stretch;
    padding: 20px;
}

main, section.kassem {
    grid-row: 2 / 3;
}

section.kassem {
    border: 1px solid #333;
    grid-column: 3 / 4;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.kassem img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}