html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    background-color: #0e0e10;
    color: #6d6c75;
    
}

h2 {
    color: white;
}

header {
    border:black 2px solid;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    
}

nav {
    border:black 2px solid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: max-content;


}

nav a:hover {
    color: #afaaa3;
}

nav a {
    text-decoration: none;
    transition: color 0.3s;

}

main {
    border:black 2px solid;
    grid-row: 2 / 3; 
    grid-column: 2 / 3;
    height: max-content;

}

footer {
    border:black 2px solid;
    grid-row: 5 / 6;
    grid-column: 1 / 4;

}

section.vinh {
    border:black 2px solid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.contacts {
    border:black 2px solid;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    
}

section.contacts a {
    text-decoration: none;
    color: #6d6c75;
    transition: color 0.3s;
}

section.contacts li {
    display: inline;
    white-space: nowrap;
}

section.contacts ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.contacts a:hover {
    color: #afaaa3;
}



.container {
    max-width: 1000px;
    margin:  50px auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 250px minmax(0,1fr) minmax(0,1fr);
}



